# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=toBeModified1,toBeModified2
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

# Database
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db

# URLs (Cambiar en producción)
STRAPI_ADMIN_BACKEND_URL=http://localhost:1337
FRONTEND_URL=http://localhost:3000
